/* .col8-wrapper {
  display: flex;
}
.col8-wrapper .view-more {
  width: 100px;
}
.col8-wrap {
  display: flex;
  width: calc(100% + 2%);
  margin: -20px 0 0 -2%;
  flex-wrap: wrap;
}
.col8-box {
  width: 12.28%;
  margin: 20px 0 0 2%;
}
.col8-box,
.categories .view-more {
  text-align: center;
  cursor: pointer;
}
.categories .view-more {
  padding: 0 10px;
}
.categories .col8-box img {
  width: 80%;
  margin-bottom: 15px;
}
.brands .col8-box img {
  width: 80%;
}
.category-name,
.view-btn {
  font-size: 1.1rem;
  line-height: 1.2;
}
.more-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 0 auto 18%;
  background: #f4f4f4;
  border-radius: 50%;
}
.circle-dot {
  display: block;
  width: 5px;
  height: 5px;
  margin: 0 3px;
  background: #bfbfbf;
  border-radius: 50%;
}
@media only screen and (max-width: 768px) {
  .category-name,
  .view-btn {
    font-size: 14px;
  }
  .col8-box {
    width: 24%;
    margin: 20px 0 0 1%;
  }
  .category-box img {
    margin-bottom: 5px;
  }
  .more-dot {
    width: 45px;
    height: 45px;
  }
}
@media only screen and (max-width: 480px) {
  .more-dot {
    width: 40px;
    height: 40px;
  }
  .circle-dot {
    width: 3px;
    height: 3px;
  }
} */
